@using System.Web.Mvc.Html
@using Sitecore.Mvc
@using Coveo.UI.Components
@using Coveo.UI.Components.Extensions
@using Coveo.UI.Core.ErrorReports
@using Coveo.UI.Components.Sxa.Extensions
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Coveo.UI.Components.Sxa.Areas.CoveoHiveSxa.Models.SearchInterfaces.RelatedQueryModel
<div @Html.Sxa().Component("coveo-relatedquery", Model.Attributes)>
@Html.Coveo().ValidationPartial(Validators.SCRIPTS_ARE_LOADED, Model)

<div class="@(Html.Coveo().IsEditingInPageEditor() ? " coveo-page-editor-editing" : "")">
    @{
        IErrorReport errorReport = Model.ValidateModel();
    }
    @Html.Coveo().RenderErrorSummary(errorReport)
    @Html.Partial(Partials.COMPONENT_ERROR, errorReport)

    @Html.Coveo().InitializationPartial(Initializers.RECOMMENDATIONS, Model)

    @if (Model.IsConfigured) {
        @Html.Coveo().ValidationPartial(Validators.RESOURCES_ARE_INCLUDED, Model)
        <div id="@Model.Id"
             class="CoveoRecommendation"
             data-main-search-interface="#coveo03e10c6f"
            @foreach (var property in @Model.RawProperties) {
                @:data-@(property.Key)='@(property.Value)'
            }>
            @Html.Partial(Partials.DEBUG_INFORMATION, Model)
            <div class="CoveoForSitecoreBindWithUserContext"></div>
            <div class="CoveoForSitecoreExpressions"></div>
            <div class="coveo-recommendations-components">
                @if (Html.Coveo().IsEditingInPageEditor()) {
                    <div>Mandatory components (Edit the Search Interface properties to configure them)</div>
                    <div class="CoveoValidateAnalyticsIncluded"></div>
                }
                @Html.Sitecore().CoveoSxaPlaceholder("coveouirecommendationscomponentssxa", @Model.Id)
            </div>
            @if (Model.HasHeader) {
                <div class="coveo-recommendation-header">
                    <div class="coveo-recommendation-title">@Model.Properties.Title</div>
                </div>
            }
            <div class="coveo-recommendation-body">
                @Html.Sitecore().CoveoSxaPlaceholder("coveouiresultssxa", @Model.Id)
            </div>
        </div>
    }
</div>
</div>